body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
}

.input-section {
  text-align: center;
}

.row {
  overflow:auto;
  text-align: center;
}

.row div {
   min-height: 200px;
}
.tasks-column {
  float:left; 
  width:50%;
}

.completed-column { 
  float: right;
  width: 50%;
}

.tasks-content, .completed-content {
  margin: 10px;
  border: 2px black solid;
}

.tasks-list {
  text-align: left;
}